body {
    padding: 0;
    margin: 0;
    margin-top: -17px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    overflow: hidden;
    width: 100%;

    ::-webkit-scrollbar {
        width: 0px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: white; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background-color: lightgray; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: lightgray; 
      }
}

.color-palette {
    justify-content: center;
    align-self: center;
    width: 100%;
}

.color-pallete-body{
    display: flex;
    align-self: center;
    background-color: #fff;
    width: 33%;
    padding: 1em 1em;
    border-radius: 5px;
    margin:2% 0 -7% 32%;
    div{
        width: 100px;
        height: 50px;
        border: 1px transparent;
        border-radius: 100%;
        margin: calc(0.09em);
      }
}
.container{
    .sidebar.open{
        transform: translate(0, 0);
        background-color: #fff;
    }
}

.category-scroll{
    overflow-y: scroll;
    height: 80vh;
    white-space: nowrap;
    
  }


@media only screen and (max-width: 992px) {
    html, body, main{
        height: 100%;
        width: 100%;
    }
    .container{
        .sidebar{
            display: block;
            width: 300px;
            position: absolute;
            top: 3.9em;
            left: 0;
            padding: 10px;
            height: 100%;
            transform: translate(-330px, 0);
            transition: transform 0.3s ease;
            z-index: 1;    
            background-color: #fff;
            margin: 2em 0 0 0;
        }
        [class^="task_task-body__"]{
            width: 65%;
        }
    }
    .main-d{
        width: auto;
        flex-grow: 1;
        width: 100%;
      }  
}